{% extends 'base_admin.html.twig' %}

{% block title %}Bureau index{% endblock %}

{% block body %}
    <h1>Liste des Bureaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                
            </tr>
        </thead>
        <tbody>
        {% for bureau in bureaus %}
            <tr>
                <td>{{ bureau.id }}</td>
                <td>{{ bureau.Numero }}</td>
                <td>
                    <a href="{{ path('bureau_show', {'id': bureau.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{{ path('bureau_edit', {'id': bureau.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bureau_new') }}">Ajouter</a>
{% endblock %}
