{%  extends "base_admin.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription Personnel</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Cin) }}
        {{ form_row(registrationForm.Nom) }}
        {{ form_row(registrationForm.Prenom) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.Adresse) }}
        {{ form_row(registrationForm.Telephone) }}
        {{ form_row(registrationForm.DateNaissance) }}
        {{ form_row(registrationForm.Bureau) }}
        {{ form_row(registrationForm.Categorie)}}
        {{ form_row(registrationForm.Grade)}}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Ajouter</button>
    {{ form_end(registrationForm) }}
{% endblock %}
