{% extends 'base_admin.html.twig' %}

{% block title %}NiveauEtude index{% endblock %}

{% block body %}
    <h1>Liste des Niveaux d'étude</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                
            </tr>
        </thead>
        <tbody>
        {% for niveau_etude in niveau_etudes %}
            <tr>
                <td>{{ niveau_etude.id }}</td>
                <td>{{ niveau_etude.Libelle }}</td>
                <td>
                    <a href="{{ path('niveau_etude_show', {'id': niveau_etude.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{{ path('niveau_etude_edit', {'id': niveau_etude.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render( niveau_etudes )}}
    <a href="{{ path('niveau_etude_new') }}">Ajouter</a>
{% endblock %}
