{% extends 'base_admin.html.twig' %}

{% block title %}Grade1 index{% endblock %}

{% block body %}
    <h1>Liste des Grades</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                
            </tr>
        </thead>
        <tbody>
        {% for grade1 in grade1s %}
            <tr>
                <td>{{ grade1.id }}</td>
                <td>{{ grade1.Libelle }}</td>
                <td>
                    <a href="{{ path('grade1_show', {'id': grade1.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{{ path('grade1_edit', {'id': grade1.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render( grade1s )}}
    <a href="{{ path('grade1_new') }}">Ajouter</a>
{% endblock %}
